`alg`, `kid` and `typ` in OIDC tokens are not claims

[Maintainer edit]
_Anyone is welcome to submit the below changes in a PR_

### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

This table contains a mixture of "claims" and "header parameters".

https://github.com/github/docs/blob/c793d974c47b176cfee18cf4e0a1a7e31f798a5c/content/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect.md?plain=1#L108-L116

`exp`, `iat`, `jti` and `nbf` are claims, but `alg`, `kid` and `typ` in OIDC tokens are not claims.
[RFC 7519 Section 2](https://datatracker.ietf.org/doc/html/rfc7519#section-2) uses the term "JOSE Header Parameters".

### What part(s) of the article would you like to see updated?

The table should be divided into two parts.

First part is the JOSE header parameters.

| Header Parameter | Parameter type | Description            |
| ---------------- | -----| ---------------------- |
| `alg`| Algorithm | The algorithm used by the OIDC provider. |
| `kid`| Key identifier | Unique key for the OIDC token. |
| `typ`| Type | Describes the type of token. This is a JSON Web Token (JWT). |

Second part is claims.

|    Claim    | Claim type | Description            |
| ----------- | -----| ---------------------- |
| `exp`| Expires at | Identifies the expiry time of the JWT. |
| `iat`| Issued at | The time when the JWT was issued. |
| `jti`| JWT token identifier | Unique identifier for the OIDC token. |
| `nbf`| Not before | JWT is not valid for use before this time. |


### Additional information

_No response_

Thanks for opening a clear issue! Your proposed changes sound good. You or anyone else is welcome to open a pull request to make these changes.